absl-py==2.3.1
aiobotocore @ file:///croot/aiobotocore_1738237872287/work
aiofiles==24.1.0
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite==0.21.0
alabaster @ file:///croot/alabaster_1718201490751/work
altair @ file:///croot/altair_1743016723624/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1749054771823/work
anaconda-auth @ file:///croot/anaconda-cloud-auth-split_1747863777058/work
anaconda-catalogs @ file:///croot/anaconda-catalogs_1747774708830/work
anaconda-cli-base @ file:///croot/anaconda-cli-base_1741369443553/work
anaconda-client @ file:///croot/anaconda-client_1743199569980/work
anaconda-navigator @ file:///croot/anaconda-navigator_1749732987577/work
anaconda-project @ file:///croot/anaconda-project_1746215289992/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio==4.10.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
arrow @ file:///croot/arrow_1728676284441/work
astroid @ file:///croot/astroid_1736455921794/work
astropy @ file:///croot/astropy_1738094400634/work
astropy-iers-data @ file:///croot/astropy-iers-data_1737137584766/work
asttokens==3.0.0
astunparse==1.6.3
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
asyncssh @ file:///croot/asyncssh_1729522951288/work
atomicwrites==1.4.0
attrs @ file:///croot/attrs_1734533101012/work
Automat @ file:///croot/automat_1743532562209/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///croot/babel_1737454360933/work
banks==2.2.0
bcrypt @ file:///croot/bcrypt_1747402770140/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///croot/black_1737659122412/work
bleach @ file:///croot/bleach_1732290411627/work
blinker @ file:///croot/blinker_1737448726027/work
bokeh @ file:///croot/bokeh_1737999150310/work
boltons @ file:///croot/boltons_1737061692168/work
botocore @ file:///croot/botocore_1738226888291/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli==1.1.0
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752115297798/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
chardet @ file:///work/perseverance-python-buildout/croot/chardet_1698867756032/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///croot/click_1744271578095/work
cloudpickle @ file:///croot/cloudpickle_1721657346512/work
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1698847155966/work
colorcet @ file:///croot/colorcet_1709758348067/work
comm==0.2.2
conda @ file:///croot/conda_1749171252582/work/conda-src
conda-build @ file:///croot/conda-build_1748438537219/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1745607008911/work/src
conda-pack @ file:///croot/conda-pack_1710258022278/work
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda-repo-cli @ file:///croot/conda-repo-cli_1741817706730/work
conda-token @ file:///croot/conda-token_1741722942912/work
conda_index @ file:///croot/conda-index_1747936852505/work
conda_package_streaming @ file:///croot/conda-package-streaming_1731366181659/work
constantly @ file:///croot/constantly_1703165600746/work
contourpy @ file:///croot/contourpy_1732540045555/work
cookiecutter @ file:///croot/cookiecutter_1711059812130/work
cryptography @ file:///croot/cryptography_1740577825284/work
cssselect @ file:///croot/cssselect_1707339882883/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==3.1.2
cytoolz @ file:///croot/cytoolz_1736803755750/work
dask @ file:///croot/dask-core_1741970170333/work
dask-expr @ file:///croot/dask-expr_1742226120053/work
dataclasses-json==0.6.7
datashader @ file:///croot/datashader_1744385561816/work
debugpy==1.8.14
decorator==5.2.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.18
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///croot/dill_1715094664823/work
dirtyjson==1.0.8
distributed @ file:///croot/distributed_1741988110165/work
distro @ file:///croot/distro_1714488253808/work
docstring-to-markdown @ file:///work/perseverance-python-buildout/croot/docstring-to-markdown_1698864372211/work
docutils @ file:///croot/docutils_1744664103227/work
et-xmlfile @ file:///work/perseverance-python-buildout/croot/et_xmlfile_1698868193149/work
evalidate @ file:///croot/evalidate_1743605997870/work
executing==2.2.0
fastapi==0.116.1
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
ffmpy==0.6.1
filelock @ file:///croot/filelock_1744281381737/work
filetype==1.2.0
flake8 @ file:///croot/flake8_1726157165993/work
Flask @ file:///croot/flask_1737454299809/work
flatbuffers==25.2.10
fonttools @ file:///croot/fonttools_1737039080035/work
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///croot/fsspec_1747117721425/work
gast==0.6.0
gensim @ file:///croot/gensim_1725057941774/work
geopandas==1.1.1
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1720455034730/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth==2.40.3
google-genai==1.33.0
google-pasta==0.2.0
gradio==5.45.0
gradio_client==1.13.0
greenlet @ file:///croot/greenlet_1733860072744/work
griffe==1.14.0
groovy==0.1.2
grpcio==1.73.1
h11 @ file:///croot/h11_1748442006460/work
h5py @ file:///croot/h5py_1737051113867/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
hf-xet==1.1.9
holoviews @ file:///croot/holoviews_1741882128583/work
httpcore @ file:///croot/httpcore_1748526048470/work
httpx @ file:///croot/httpx_1746747840559/work
httpx-sse==0.4.1
huggingface-hub==0.34.4
hvplot @ file:///croot/hvplot_1746471209567/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///croot/idna_1714398848350/work
imagecodecs @ file:///croot/imagecodecs_1744617097103/work
imageio @ file:///croot/imageio_1738159938990/work
imagesize @ file:///work/perseverance-python-buildout/croot/imagesize_1698864514488/work
imbalanced-learn @ file:///croot/imbalanced-learn_1738614356256/work
importlib_metadata @ file:///croot/importlib_metadata-suite_1732633488278/work
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///work/perseverance-python-buildout/croot/inflection_1698869084799/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///croot/intake_1726109551815/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.29.5
ipython==9.4.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipython_pygments_lexers==1.1.1
ipywidgets @ file:///croot/ipywidgets_1743532594847/work
isort @ file:///croot/isort_1741284882758/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///croot/itemloaders_1743512857112/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///croot/jaraco.context_1728505015448/work
jaraco.functools @ file:///croot/jaraco.functools_1740408111753/work
jedi==0.19.2
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///croot/jellyfish_1736366665756/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.10.0
jmespath @ file:///work/perseverance-python-buildout/croot/jmespath_1701734034266/work
joblib @ file:///croot/joblib_1718217211762/work
json5 @ file:///croot/json5_1730786798687/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1741184577592/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1745827015155/work
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server @ file:///croot/jupyter_server_1741200034823/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1744706698694/work
jupyterlab @ file:///croot/jupyterlab_1737555423487/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_pygments @ file:///croot/jupyterlab_pygments_1741124142640/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
keras==3.10.0
keyring @ file:///croot/keyring_1745484691218/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-text-splitters==0.3.11
langsmith==0.4.26
lazy-object-proxy @ file:///croot/lazy-object-proxy_1736366670083/work
lazy_loader @ file:///croot/lazy_loader_1718176737906/work
lckr_jupyterlab_variableinspector @ file:///croot/jupyterlab-variableinspector_1744638296328/work
libarchive-c @ file:///croot/python-libarchive-c_1726069797193/work
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
lief @ file:///croot/lief_1746658717971/work/api/python
linkify-it-py @ file:///work/perseverance-python-buildout/croot/linkify-it-py_1698889355052/work
llama-index-core==0.14.0
llama-index-instrumentation==0.4.0
llama-index-llms-openai==0.5.6
llama-index-workflows==2.0.1
llvmlite @ file:///croot/llvmlite_1741209858218/work
lmdb @ file:///croot/python-lmdb_1736540601428/work
locket @ file:///work/perseverance-python-buildout/croot/locket_1698847555568/work
lxml @ file:///croot/lxml_1737039601731/work
lz4 @ file:///croot/lz4_1736366683208/work
Markdown @ file:///croot/markdown_1746114451035/work
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1698846045803/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///work/perseverance-python-buildout/croot/mdit-py-plugins_1698895393342/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1698845653285/work
menuinst @ file:///croot/menuinst_1738943416351/work
mistune @ file:///croot/mistune_1741124011532/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes==0.5.1
more-itertools @ file:///croot/more-itertools_1727185441804/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
msgpack @ file:///croot/msgpack-python_1749542157112/work
multidict @ file:///croot/multidict_1730905498140/work
multipledispatch @ file:///work/perseverance-python-buildout/croot/multipledispatch_1698846147141/work
mypy @ file:///croot/mypy-split_1750077309395/work
mypy-extensions @ file:///work/perseverance-python-buildout/croot/mypy_extensions_1698863276135/work
namex==0.1.0
narwhals @ file:///croot/narwhals_1742845957875/work
navigator-updater @ file:///croot/navigator-updater_1718030385782/work
nbclient @ file:///croot/nbclient_1741123995822/work
nbconvert @ file:///croot/nbconvert-meta_1741184653315/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1737039604450/work
nltk @ file:///croot/nltk_1724427688180/work
notebook @ file:///croot/notebook_1749732987674/work
notebook_shim @ file:///croot/notebook-shim_1741707758683/work
numba @ file:///croot/numba_1740752693581/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
numpydoc @ file:///croot/numpydoc_1718279157024/work
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
openai==1.107.0
openpyxl @ file:///croot/openpyxl_1736366913861/work
opt_einsum==3.4.0
optree==0.16.0
orjson==3.11.3
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp312-cp312-linux_x86_64.whl#sha256=57b66702d418720ec8483f7c4ec7c08d41815316ad7ce09d5b7bbc34eefcfdfd
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1747424473109/work
param @ file:///croot/param_1749821770135/work
parsel @ file:///croot/parsel_1707503445438/work
parso==0.8.4
partd @ file:///croot/partd_1736803412080/work
pathspec @ file:///work/perseverance-python-buildout/croot/pathspec_1698805478393/work
patsy @ file:///croot/patsy_1738159930729/work
pexpect==4.9.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1744613067434/work
pkce @ file:///work/perseverance-python-buildout/croot/pkce_1698863336124/work
pkginfo @ file:///croot/pkginfo_1743184746806/work
platformdirs==4.3.8
plotly @ file:///croot/plotly_1744960868503/work
pluggy @ file:///croot/pluggy_1733169602837/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
pmdarima==2.0.4
prometheus_client @ file:///croot/prometheus_client_1744271615306/work
prompt_toolkit==3.0.51
propcache @ file:///croot/propcache_1744012718189/work
Protego @ file:///croot/protego_1746474567874/work
protobuf @ file:///croot/protobuf_1742419705443/work/bazel-bin/python/dist/protobuf-5.29.3-cp312-abi3-linux_x86_64.whl#sha256=b288453436273a46653983ade721c0c62cfa5ef6c012b110674c369d25536d88
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo @ file:///work/perseverance-python-buildout/croot/py-cpuinfo_1698865397566/work
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///croot/pycodestyle_1726150303809/work
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///work/perseverance-python-buildout/croot/pyct_1698871492339/work
pycurl @ file:///croot/pycurl_1744743597946/work
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck @ file:///croot/pydeck_1738340956155/work
PyDispatcher @ file:///croot/pydispatcher_1750159261691/work
pydocstyle @ file:///work/perseverance-python-buildout/croot/pydocstyle_1698865417470/work
pydub==0.25.1
pyerfa @ file:///croot/pyerfa_1738082786199/work
pyflakes @ file:///croot/pyflakes_1708962956225/work
PyGithub @ file:///croot/pygithub_1725976268771/work
Pygments==2.19.2
PyJWT @ file:///croot/pyjwt_1736178889029/work
pylint @ file:///croot/pylint_1743709189542/work
pylint-venv @ file:///croot/pylint-venv_1709837612550/work
pyls-spyder==0.4.0
PyNaCl @ file:///croot/pynacl_1736540781734/work
pyodbc @ file:///croot/pyodbc_1737479624928/work
pyogrio==0.11.0
pyOpenSSL @ file:///croot/pyopenssl_1741343803032/work
pyparsing @ file:///croot/pyparsing_1731445506121/work
pypdf==6.0.0
pyproj==3.7.1
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pytest @ file:///croot/pytest_1738938843180/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
python-lsp-black @ file:///croot/python-lsp-black_1744023204540/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///croot/python-lsp-server_1743715803089/work
python-multipart==0.0.20
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///croot/pytoolconfig_1701728692402/work
pytz @ file:///croot/pytz_1713974312559/work
pyuca @ file:///croot/pyuca_1726251419336/work
pyviz_comms @ file:///croot/pyviz_comms_1711136832766/work
PyWavelets @ file:///croot/pywavelets_1737133681996/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.0.0
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///work/perseverance-python-buildout/croot/qstylizer_1698900556042/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=6d40f32007acd9673a44b9d879388ca3e09a68f0342daa31cab082bc596303c8
QtAwesome @ file:///croot/qtawesome_1744810788162/work
qtconsole @ file:///croot/qtconsole_1744633877544/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
queuelib @ file:///work/perseverance-python-buildout/croot/queuelib_1698873899800/work
readchar @ file:///work/perseverance-python-buildout/croot/readchar_1698863555393/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
regex @ file:///croot/regex_1736540786412/work
requests==2.32.5
requests-file @ file:///croot/requests-file_1749719340943/work
requests-toolbelt @ file:///work/perseverance-python-buildout/croot/requests-toolbelt_1698846872000/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich @ file:///croot/rich_1732638981168/work
roman-numerals-py @ file:///croot/roman-numerals-py_1744666280892/work
rope @ file:///croot/rope_1743709207023/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa==4.9.1
Rtree @ file:///work/perseverance-python-buildout/croot/rtree_1698900851071/work
ruamel-yaml-conda @ file:///work/perseverance-python-buildout/croot/ruamel_yaml_1698874047131/work
ruamel.yaml @ file:///croot/ruamel.yaml_1745960305322/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1745937152469/work
ruff==0.13.0
s3fs @ file:///croot/s3fs_1747146184987/work
safehttpx==0.1.6
safetensors==0.6.2
scikit-base==0.12.4
scikit-image @ file:///croot/scikit-image_1737476515437/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///croot/scipy_1733756309941/work/dist/scipy-1.13.1-cp312-cp312-linux_x86_64.whl#sha256=eb21cfc6b0760ba5a6bce3bb9a645668d06ebe93a4a84f737dd8531761b25fd5
Scrapy @ file:///croot/scrapy_1743540888698/work
seaborn @ file:///croot/seaborn_1749110291192/work
SecretStorage @ file:///work/perseverance-python-buildout/croot/secretstorage_1698846935813/work
semantic-version==2.10.0
semver @ file:///croot/semver_1736540782504/work
Send2Trash @ file:///croot/send2trash_1736540790175/work
sentence-transformers==5.1.0
service-identity @ file:///croot/service_identity_1749714984647/work
setuptools==80.9.0
shapely==2.1.1
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1698846956774/work
sip @ file:///croot/sip_1736541134699/work
six==1.17.0
sklearn-compat @ file:///croot/sklearn-compat_1738003921409/work
sktime==0.38.4
smart-open @ file:///work/perseverance-python-buildout/croot/smart_open_1698863627550/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio @ file:///croot/sniffio_1705431295498/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sns==0.1
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
Sphinx @ file:///croot/sphinx_1744737143842/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///croot/spyder_1749733023379/work
spyder-kernels @ file:///croot/spyder-kernels_1748642506361/work
SQLAlchemy @ file:///croot/sqlalchemy_1745854522333/work
stack-data==0.6.3
starlette==0.47.3
statsmodels @ file:///croot/statsmodels_1734018870787/work
streamlit @ file:///croot/streamlit-split_1748963583989/work/streamlit
style==1.1.0
superqt @ file:///croot/superqt_1743709189241/work
sympy @ file:///croot/sympy_1738108488918/work
tables @ file:///croot/pytables_1748447923756/work
tabulate @ file:///work/perseverance-python-buildout/croot/tabulate_1701748610754/work
tblib @ file:///croot/tblib_1749729848921/work
tenacity @ file:///croot/tenacity_1730302500303/work
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///croot/textdistance_1731571650161/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///croot/tifffile_1734340907867/work
tiktoken==0.11.0
tinycss2 @ file:///croot/tinycss2_1738337643607/work
tldextract @ file:///croot/tldextract_1723064386918/work
tokenizers==0.22.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///work/perseverance-python-buildout/croot/tomli_1698805555176/work
tomlkit @ file:///croot/tomlkit_1728650307440/work
toolz @ file:///croot/toolz_1736796253816/work
torch==2.8.0
tornado==6.5.1
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets==5.14.3
transformers==4.56.1
triton==3.4.0
truststore @ file:///croot/truststore_1736550121485/work
Twisted @ file:///croot/twisted_1743537782170/work
typer==0.17.4
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
uc-micro-py @ file:///work/perseverance-python-buildout/croot/uc-micro-py_1698875458503/work
ujson @ file:///croot/ujson_1736541024667/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
Unidecode @ file:///croot/unidecode_1724790039185/work
update==0.0.1
urllib3 @ file:///croot/urllib3_1737133630106/work
uvicorn==0.35.0
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
watchdog @ file:///croot/watchdog_1740409902579/work
wcwidth==0.2.13
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets==15.0.1
Werkzeug @ file:///croot/werkzeug_1737448706492/work
whatthepatch @ file:///work/perseverance-python-buildout/croot/whatthepatch_1698866493803/work
wheel==0.45.1
widgetsnbextension @ file:///croot/widgetsnbextension_1743512586740/work
wrapt @ file:///croot/wrapt_1736540904746/work
wurlitzer @ file:///work/perseverance-python-buildout/croot/wurlitzer_1698906481008/work
xarray @ file:///croot/xarray_1749131597036/work
xgboost==3.0.2
xgboost-cpu==3.0.2
xyzservices @ file:///work/perseverance-python-buildout/croot/xyzservices_1698866513675/work
yapf @ file:///croot/yapf_1708964320665/work
yarl @ file:///croot/yarl_1732546845924/work
zict @ file:///work/perseverance-python-buildout/croot/zict_1698876364831/work
zipp @ file:///croot/zipp_1732630741423/work
zope.interface @ file:///croot/zope.interface_1731939362051/work
zstandard @ file:///croot/zstandard_1731356346222/work
